<div class="stats-bar">
    <div class="stat p">
        <div class="sico p">&#9672;</div>
        <div><div class="sval">@TotalCount</div><div class="slbl">Projetos</div></div>
    </div>
    <div class="stat g">
        <div class="sico g">&#10003;</div>
        <div><div class="sval">@ActiveCount</div><div class="slbl">Em andamento</div></div>
    </div>
    <div class="stat b">
        <div class="sico b">&#9678;</div>
        <div><div class="sval">@ClientCount</div><div class="slbl">Clientes</div></div>
    </div>
    <div class="stat o">
        <div class="sico o">&#9873;</div>
        <div><div class="sval">@ExpiringIn60DaysCount</div><div class="slbl">Vencem em 60d</div></div>
    </div>
    <div class="stat b">
        <div class="sico b">&#8635;</div>
        <div><div class="sval">@RenewingCount</div><div class="slbl">Em renovação</div></div>
    </div>
    <div class="stat g">
        <div class="sico g">&#9733;</div>
        <div><div class="sval">@ApprovedRenewalCount</div><div class="slbl">Aprovadas</div></div>
    </div>
</div>
